body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:422px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:827px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:827px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:66px;
  width:375px;
  height:667px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:77px;
  width:347px;
  height:30px;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:77px;
  word-wrap:break-word;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:89px;
  height:30px;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  word-wrap:break-word;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:99px;
  height:30px;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:95px;
  word-wrap:break-word;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:0px;
  width:78px;
  height:30px;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:159px;
  width:182px;
  height:38px;
  font-size:20px;
}
#u213_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u213.mouseDown {
}
#u213_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u213.disabled {
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:226px;
  width:182px;
  height:38px;
  font-size:20px;
}
#u214_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u214.mouseDown {
}
#u214_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u214.disabled {
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:293px;
  width:182px;
  height:38px;
  font-size:20px;
}
#u215_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u215.mouseDown {
}
#u215_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u215.disabled {
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:360px;
  width:182px;
  height:38px;
  font-size:20px;
}
#u216_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u216.mouseDown {
}
#u216_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u216.disabled {
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:427px;
  width:182px;
  height:38px;
  font-size:20px;
}
#u217_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(117, 117, 117, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(117, 117, 117, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u217.mouseDown {
}
#u217_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:38px;
  background:inherit;
  background-color:rgba(179, 179, 179, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u217.disabled {
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:178px;
  word-wrap:break-word;
}
